{% extends "catalog/base.html" %}

{% block body %}

	<div class="container">
		<h1>Whats up</h1>

    <div class="row">
      <div class="col-lg-2">
        <div class="list-group">
          {% regroup course_list by code_prefix as courses %}
          {% for course in courses %}
          <a href="#" class="list-group-item">
            <span class="badge">{{ course.list|length }}</span>
            {{ course.grouper }}
          </a>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-10">
        <div class="list-group">
        {% for course in course_list %}
          <a href="{{ course.src_url }}" class="list-group-item">
            <span class="badge">{{ course.uoc }} UOC</span>
            <h4 class="list-group-item-heading">{{ course.code }}</h4>
            <h5 class="list-group-item-heading">{{ course.name }}</h5>
            <p class="list-group-item-text">
              {{ course.description_markup | truncatewords_html:60 | safe }}
            </p>
          </a>
        {% endfor %}
        </div>
        <div class="col-lg-2">
      
        </div>
      </div>
    </div>


    <div class="row">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Level</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for course in course_list %}
          <tr>
            <td>{{ course.code }}</td>
            <td>{{ course.name }}</td>
            <td>{{ course.career }}</td>
            <td>{{ course.description_markup | truncatewords_html:10 | safe }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

	</div>

{% endblock %}